
<header
  class="masthead"
  style="background-color: #E6A4B4"
>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/style.css">


  <div class="p-3 text-center jumbotron img-cabecera">

    <div class="container py-5">
      <p class="text-title">MY RECIPES</p>
    </div>
  </div>
</header>

{% include "header.html" %}



<div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5">
          {% for recipe in recipes %}

        <div class="col">
          <div class="card shadow-sm">
            <div class="img-highlight">
              <a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}" >
                <img src= "{{ recipe.img_url }}" alt="img-recipe" border="0" class="d-block mx-lg-auto img-fluid" width="600em" loading="lazy"/>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-text">{{ recipe.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ recipe.category }}</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">


                </div>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('show_recipe', recipe_id=recipe.id) }}" role="button"> Ver receta</a>


              </div>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
</div>

{% include "footer.html" %}