<header
  class="masthead"
  style="background-color: #80BCBD"
>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/style.css">

  <div class="p-3 text-center jumbotron img-cabecera">

    <div class="container py-5">
      {% if edit: %}
        <p class="text-title">MODIFY RECIPE</p>
      {% else %}
        <p class="text-title">NEW RECIPE</p>
      {% endif %}
    </div>
  </div>
</header>

{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<main class="pb-4 pt-4 ">

  <div class="container ">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ render_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
      </div>
    </div>
  </div>
</main>



{% include "footer.html" %}